<div class="mt-12 ml-12 font-light">
  <h1 class="font-normal text-xl text-gray-600 mb-3">About</h1>
  <p>
    Hi! I currently work for Uplift as a Full-Stack Engineer. I'm interested in
    consumer software and machine learning. Outside of work, I enjoy playing
    chess, rock climbing, and skiing.
  </p>
</div>
